h1 {
  color: rgb(8, 105, 21);
}

img {
  height: 300px;
}

.flex-container {
  padding: 40px;
  border: 4px solid green;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
